.catecard {
    margin: 5px auto;
    border: 1px solid #6e9758;
    text-align: center;
    float: left;
    border-radius: 30px;
    display: table;
    padding: 5px;
}

.col-lg-offset-1 {
    margin-left: 8.33333333%
}