.catecard {
    margin: 5px auto;
    border: 2px solid #6e9758;
    text-align: center;
    float: left;
    border-radius: 30px;
    display: table;
    padding: 5px;
}

.col-lg-offset-1 {
    margin-left: 8.33333333%
}

@font-face {
    font-family: 'InfinitySans-BoldA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.catetitle {
    font-size: large;
    font-weight: bolder;
    font-family: 'InfinitySans-BoldA1';
    margin: 5px;
    display: inline-block;
    color: #6e9758;

}