/* .intro img {
    width: 100%;
}

.intro button {
    width: 30%;
    margin: auto 1.6%;
}

.introbtn1 {
    background-image: url('../img/hoppydream1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.introbtn2 {
    background-image: url('../img/card1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.introbtn3 {
    background-image: url('../img/howto1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.strong {
    font-weight: border;
}

.intro {
    margin-top: 5%;
    background-image: url('../img/bgbg.png');
    width: 80%;
    margin: 5% auto 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
} */

#intro {
    width: 100%;
    height: auto;
}

.introbg {
    margin: 0;
    width: 95vw;
    height: auto;
    margin-top: 5%;
    position: relative;
}

.hoppydream1 {
    z-index: 7;
    position: absolute;
    width: 19vw;
    height: auto;
    /* top: 122vh; */
    bottom: 8%;
    left: 15vw;
    filter: drop-shadow(5px 5px 5px #C4C4C4)
}

.card1 {
    z-index: 8;
    position: absolute;
    width: 19vw;
    height: auto;
    /* top: 122vh; */
    bottom: 8%;
    left: 40vw;
    filter: drop-shadow(5px 5px 5px #C4C4C4)
}

.howto1 {
    z-index: 9;
    position: absolute;
    width: 19vw;
    height: auto;
    /* top: 122vh; */
    bottom: 8%;
    right: 15vw;
    filter: drop-shadow(5px 5px 5px #C4C4C4)
}