
.catebtn {
    background-color: #6e9758;
    border: 2px solid #6e9758;
    /* color: #6e9758; */
    text-align: center;
    color: white;
    width: 100px;
    height: 35px;
    float: left;
    margin: 0 10px 0 10px;
    font-size: 15px;
}
select {
    border: 1.5px solid #6e9758;
    color: #6e9758;
    text-align-last: center;
    width: 100px;
    height: 35px;
    float: left;
    margin: 0 10px 0 10px;
    font-size: 15px;
}
.prev, .next {
    cursor: pointer;
    /* position: absolute; */
    /* top: 40%; */
    width: auto;
    /* padding: 16px; */
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    /* border-radius: 3px 3px 3px 3px; */
    user-select: none;
    margin-right: 3%;
    margin-left: 2%;
    display: inline-block;
}